PORT=6969
ENVIRONMENT="development"

LOGGING="verbose"

APP_VERSION="local"

VITE_UTTERANCES_REPO=""
VITE_UTTERANCES_LABEL="comments"
VITE_UTTERANCES_THEME="preferred-color-scheme"

VITE_ENABLE_INSPECT=false
VITE_ENABLE_CLOUDFLARE_TUNNEL=false

ALLOWED_HOSTS=""

AGENT_DO_KEY=""