PORT=6969
ENVIRONMENT="development"

LOGGING="verbose"

APP_VERSION="local"

VITE_UTTERANCES_REPO=""
VITE_UTTERANCES_LABEL="comments"
VITE_UTTERANCES_THEME="preferred-color-scheme"

ENABLE_CLOUDFLARE_TUNNEL=false